* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Inter", "Segoe UI Variable", "Segoe UI", sans-serif;
  color: #efefef;
}

body {
  background: #242423;
  padding: 20px 40px;
  overflow-y: auto;
  max-width: 100%;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1.1rem;
}

#container {
  margin: 20px 0;
}

main {
  margin: 0 auto;
  margin-bottom: 60px;
}

.card {
  padding: 10px 20px;
  background: #2e2e2e;
  border-radius: 8px;
  margin-right: 20px;
}

div.chapter-wrapper {
  height: 100%;
}

div.chapter-wrapper > p,
h1,
h2,
h3 {
  margin: 0 10px;
}

.col-0 {
  float: left;
  width: 73%;
}

.vid {
  width: 100%;
  margin: 10px 0;
  display: block;
}

.col-1 {
  float: left;
  flex-grow: 0;
  width: auto;
  margin-right: 40px;
  padding-left: 20px;
}

aside {
  position: fixed;
  top: 1;
  font-size: 0.8rem;
  right: 0;
}

ol.main-links {
  list-style-type: none;
}

ul.inner-links {
  margin-left: 20px;
}

li > a {
  text-decoration: none;
  transition-timing-function: ease-in;
}

li > a:hover {
  text-decoration: underline;
  transition: 700ms;
}

ol > li {
  margin: 10px 0;
}

ul > li {
  list-style-type: disc;
  margin: 5px 0;
}

@media screen and (min-width: 1200px) {
  body {
    max-width: 80%;
    margin: 0 auto;
  }

  #container {
    align-items: start;
    display: grid;
    margin: 20px auto;
    margin-bottom: 40px;
    justify-content: center;
  }

  .col-0 {
    width: 80%;
  }

  .col-1 {
    width: auto;
    right: 40px;
  }

  .card {
    margin: 0 auto;
  }
}
